*.o
*.lev
util/*
dat/*
Makefile
doc/Makefile
include/date.h
include/dgn_comp.h
include/lev_comp.h
include/onames.h
include/pm.h
include/vis_tab.h
src/Makefile
src/Sysunix
src/config.h-t
src/hack.h-t
src/monstr.c
src/nethack
src/record
src/vis_tab.c
src/tile.c
